%currency {
    @include flexbox(column, nowrap, space-between);
    box-sizing: border-box;
    position: relative;


    &::after {
        background-color: $accent;
        color: $white;
        content: '$';
        display: flex;
        font-family: sans-serif;
        height: em(18);
        padding: em(3) .5em;
        position: absolute;
        right: em(5);
        top: em(17);
    }

    label {
        @extend %label;
        padding-top: 0;
    }

    input {
        @extend %input;
        height: em(23);
        margin-left: 0;
        margin-right: em(17);
        padding-right: em(30);
        text-align: right;
        width: 100%;

        &:focus {
            @extend %input;
        }

        //sass-lint:disable no-vendor-prefixes
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            //sass-lint:enable no-vendor-prefixes
            appearance: none;
            margin: 0;
        }
    }
}
