%currency {
    @include flexbox(row, wrap, flex-start, stretch);
    border: 0;
    display: flex;
    width: 100%;


    input {
        @extend %input;
        height: em(26);
        margin-left: 0;
        margin-right: 0;
        padding-right: em(2);
        text-align: right;
        width: 100%;

        &:focus {
            @extend %input;
        }

        //sass-lint:disable no-vendor-prefixes
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            //sass-lint:enable no-vendor-prefixes
            appearance: none;
            margin: 0;
        }
    }

    &>shortlabel {
        @extend %shortlabel;
        background-color: $accent;

        color: $white;
        display: block;
        flex: 0 0 em(20);
        font-family: sans-serif;
        padding: em(8) 0;
        text-align: center;

        &::after {
            content: '$';
                }
    }
}
