%defile {
    @include flexbox(column)
    align-items: center;
    animation: pulse 1s 5;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    bottom: em(26);
    height: em(40);
    left: 50%;
    margin-bottom: em(20);
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    width: auto;


    .svg {
        height: 100%;
        overflow: visible;
        width: auto;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='18' viewBox='0 0 12 18'><path  style='fill:" + $white + " d='M5.6334507,17.6271186 C2.5222725,17.6271186 0,15.1609287 0,12.1186441 L0,5.5087041 C0,2.46618997 2.5222725,0 5.6334507,0 C8.7443942,0 11.2666667,2.46618997 11.2666667,5.5087041 L11.2666667,12.1186441 C11.2666667,15.1609287 8.7443942,17.6271186 5.6334507,17.6271186 L5.6334507,17.6271186 Z M6.4131167,4.18621116 C6.4131167,3.57798376 5.9477167,3.08474576 5.3733333,3.08474576 C4.79895,3.08474576 4.3333333,3.57798376 4.3333333,4.18621116 L4.3333333,6.38960099 C4.3333333,6.99782839 4.79895,7.49152542 5.3733333,7.49152542 C5.9477167,7.49152542 6.4131167,6.99782839 6.4131167,6.38960099 L6.4131167,4.18621116 Z'/></svg>");
        background-origin: content-box;
        background-repeat: no-repeat;
        background-size: em(12) em(18);


    }

    p {
        color: $white;
        font-size: ms(-2);
    }
}


@keyframes pulse {

0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}
