%heading1 {
    font-size: ms(5);
}

%heading2 {
    font-size: ms(4);
}

%heading3 {
    font-size: ms(3);
}

%heading4 {
    font-size: ms(2);
}

%heading5 {
    font-size: ms(1);
}

%heading6 {
    font-size: ms(0);
}

%normal {
    font-size: ms(0);
}

%copy-big {
    font-size: ms(1);
}

%small {
    font-size: ms(-1);
}

%smaller {
    font-size: ms(-2);
}

%tiny {
    font-size: ms(-3);
}

/*
 --- font size explanation ---

heading1 = 48,828 px
heading2 = 39,063 px
heading3 = 31,25 px
heading4 = 25 px
heading5 = 20 px
heading6 = 16 px
normal = 16 px
copy-big = 20 px
small = 12,8 px
smaller = 10,24 px
tiny = 8,129 px

 --- ---
  */
