@mixin media($breakpoints) {
    @media (min-width: $breakpoints) {
      @content;
    }
}

@mixin flexbox($direction: row, $wrap: nowrap, $alignh: flex-start , $alignv: stretch) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    @if $directtion == 'row' or $direction == 'row-reverse' {
        justify-content: $alignh;
        align-items: $alignv;
    } @else {
        align-items: $alignh;
        justify-content: $alignv;
    }
}

@mixin flexitems($order: 1, $grow: 1, $shrink: 1, $basis: auto, $align-self: auto) {
    order: $order;
    flex: $grow $shrink $basis;
    align-self: $align-self;
}
