.row {
    align-items: flex-start;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: em(10);

    &.item-left {
        justify-content: flex-start;
    }

    &.item-center {
        justify-content: center;
    }

    &.item-right {
        justify-content: flex-end;
    }

    &.item-split {
        justify-content: space-between;
    }
}


.col {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 em(4);


    &.xsmall {
        flex: 0 0 20%;
        padding: 0 em(4);
    }

    &.small {
        flex: 0 0 40%;
        padding: 0 em(4);
    }

    &.medium {
        flex: 0 0 60%;
        padding: 0 em(4);
    }

    &.large {
        flex: 0 0 80%;
        padding: 0 em(4);
    }

    &.xlarge {
        flex: 1 1 100%;
        padding: 0 em(4);
    }

    &.full {
        flex: 1  1 100%;
        padding: 0;
    }

    &.wrap {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;


    }

    &.nowrap {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

    }
}
