.row {
    @include flexbox(row, nowrap, space-between, flex-start);
    flex: 1 1 100%;
    margin-top: em(10);
}

.row-col {
    @include flexbox(row, wrap, space-between, flex-start);
    flex: 1 1 100%;
    padding: 0 em(4);
}

.col {
    @include flexbox(column, wrap, flex-start, flex-start);
    flex: 1 1 auto;
    padding: 0 em(4);


    //same as col, delete?
    &.xsmall {
        @include flexbox(column, wrap, flex-start, flex-start);
        flex: 1 0 0;
        padding: 0 em(4);
    }

    &.small {
        @include flexbox(column, wrap, flex-start, flex-start);
        flex: 2 0 0;
        padding: 0 em(4);
    }

    &.medium {
        @include flexbox(column, wrap, flex-start, flex-start);
        flex: 3 0 0;
        padding: 0 em(4);
    }

    &.large {
        @include flexbox(column, wrap, flex-start, flex-start);
        flex: 4 0 0;
        padding: 0 em(4);
    }

    &.xlarge {
        @include flexbox(column, wrap, flex-start, flex-start);
        flex: 5 0 0;
        padding: 0 em(4);
    }

    &.full {
        @include flexbox(column, wrap, flex-start, flex-start);
        flex: 1 1 100%;
        padding: 0;
    }


    &.left {
        @include flexbox(column, wrap, flex-start, flex-start);
    }

    &.right {
        @include flexbox(column, wrap, flex-end, flex-start);
    }

    &.center {
        @include flexbox(column, wrap, center, flex-start);
    }
}
