.row {
    @include flexbox(row, nowrap, space-between, flex-start);
    margin-top: em(4);
    width: 100%;
}

.col {
    @include flexbox(column, wrap, flex-start, flex-start);
    padding: 0 em(4);
    flex: 1 1 100%;

    //same as col, delete?
    &.xsmall {
        flex: 1 0 0;
        padding: 0 em(4);
        @include flexbox(column, wrap, flex-start, flex-start);
    }

    &.small {
        flex: 2 0 0;
        padding: 0 em(4);
        @include flexbox(column, wrap, flex-start, flex-start);
    }

    &.medium {
        flex: 3 0 0;
        padding: 0 em(4);
        @include flexbox(column, wrap, flex-start, flex-start);
    }

    &.large {
        flex: 4 0 0;
        padding: 0 em(4);
        @include flexbox(column, wrap, flex-start, flex-start);
    }

    &.xlarge {
        flex: 5 0 0;
        padding: 0 em(4);
        @include flexbox(column, wrap, flex-start, flex-start);
    }


    &.left {
        @include flexbox(column, wrap, flex-start, flex-start);
    }

    &.right {
        @include flexbox(column, wrap, flex-end, flex-start);
    }

    &.center {
        @include flexbox(column, wrap, center, flex-start);
    }
}
