%btn-filter {
    align-self: center;
    display: flex;
    flex: 0 1 70%;

    input {
        &[type='checkbox'] {
            display: none;

            & + label {
                background-color: $white;
                border: 1px solid $accent;
                border-radius: em(8);
                color: $accent;
                cursor: pointer;
                display: block;
                padding: em(8);
                text-align: center;
                transition: color .3s ease-in-out, background-color .3s ease-in-out;

                &:hover {
                    background-color: lighten($accent, 20%);
                    color: $white;
            }
        }

            &:checked {
                & + label {
                    background-color: $accent;
                    color: $white;
                }
            }
        }
    }
}
