footer
    

// build:js js/bundle.js
script(src= base + '../bower_components/jquery/dist/jquery.js', style='text-javascript')
script(src= base + 'js/googleanalytics.js', style='text-javascript')
script(src= base + 'js/app.js', style='text/javascript')

// endbuild
script(src= base + 'js/svg4everybody.js', style='text/javascript')
script svg4everybody();
