%input-group-nosubmit {
    align-items: stretch;
    border: 0;
    display: flex;
    width: 100%;

    & > :first-child {
        border-radius: 0;
    }

    & > :last-child {
        border-radius: 0;

    }

    label {
        @extend %label;
        background-color: $input-border;
        font-size: ms(0);
        padding: em(5) .5em;
    }

    input {
        @extend %input;
        border-left: 0;
        height: auto;
    }
}
