%radio {
    @include flexbox(row, wrap, flex-start, flex-start);

    label {
        display: flex;
        padding-left: em(15);

        &:first-of-type {
            padding-left: 0;
        }

    }

    > input {
        &[type='radio'] {
            display: none;

            + label {
                background: $white;
                border: 1px solid $input-border;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                height: 1em;
                min-width: 0;
                padding: 0;
                transition: background-color .1s ease-in-out;
                width: 1em;

                &::before {
                    color: $white;
                    content: '•';
                    font-size: 0;
                    margin: 1px auto 0;
                    transition: font-size .2s ease-in-out;
                    }
                }

            &:checked + label {
                background-color: $accent;

                &::before {
                    content: '•';
                    font-size: ms(1);
                }

            }

            &:disabled + label {
                background-color: $disabled;
            }

        }
    }
}
