%radio {
    @include flexbox(row, wrap, flex-start, flex-start);

    label {
        display: flex;
        padding-left: em(15);

        &:first-of-type {
            padding-left: 0;
        }

    }

     > input {
        &[type='radio'] {
        display: none;

        + label {
            display: flex;
            min-width: 0;
            width: 1em;
            height: 1em;
            cursor: pointer;
            background: $white;
            border: 1px solid $input-border;
            border-radius: 50%;
            padding: 0;
            transition: background-color .1s ease-in-out;
                &::before {
                    content: '•';
                    font-size: 0;
                    color: $white;
                    margin: 1px auto 0;
                    transition: all .2s ease-in-out;

                }

        }

        &:checked + label {
            background-color: $accent;
            &::before {
                content: '•';
                font-size: ms(1);
            }

        }
        &:disabled + label{
            background-color: $disabled;
        }

    }
    }
}
