%intertitre {
    flex: 0 0 90%;
    border-top: 1px solid $input-border;
    border-bottom: 1px solid $input-border;
    font-weight: bolder;
    align-self: center;
    padding: em(5) em(16);
    margin-top: em(20);
    margin-bottom: em(10);
}
