%intertitre {
    align-self: center;
    border-bottom: 1px solid $input-border;
    border-top: 1px solid $input-border;
    flex: 0 0 90%;
    font-weight: bolder;
    margin-bottom: em(10);
    margin-top: em(20);
    padding: em(5) em(16);
}
