%titletemplate {
    height: em(56);
    font-weight: 300;
    font-size: ms(2);
    padding: em(16);
    background-color: $disabled;
    color: $textcolor;
    width: 100%;
    text-transform: none;


}
