%iconlist {
    li {
        a {
            color: $accent;
            text-decoration: none;

            &:hover {
                color: lighten($accent, 10%);
                text-decoration: underline;
            }

            i {
                color: $accent;
            }
        }

        &.vide {
            a {
                i {
                    color: $disabled;
                }
            }
        }
    }
}
