.required {
    position: relative;

    &::after {
        color: $alert;
        content: '*';
        display: inline-block;
        font-family: sans-serif;
        font-size: ms(-1);
        height: em(11);
        width: em(10);
    }
}
