.required {
    position: relative;

    &::after {
        color: $star-red;
        content: '*';
        display: inline-block;
        font-family: $normal;
        font-size: ms(-1);
        height: em(11);
        width: em(10);
    }
}
