$colors: (
    'white': '$white',
    'black': '$black',
    'accent': '$accent',
    'primary': '$primary',
    'secondary': '$secondary',
    'textcolor': '$textcolor',
    'alert': '$alert',
    'warning': '$warning',
    'success': '$success',
    'twitter': '$twitter',
    'facebook': '$facebook',
    'googleplus': '$googleplus',
    'pinterest': '$pinterest',
    'linkedin': '$linkedin',
    'youtube': '$youtube',
    'vimeo': '$vimeo',
    'instagram': '$instagram',
    'flickr': '$flickr',
    'dribbble': '$dribbble',
    'foursquare': '$foursquare'
);


@each $colorname, $color in $colors {
    //sass-lint:disable no-important
    .textcolor-#{$colorname} {
        color: $color !important;
    }

    .bgcolor-#{$colorname} {
        background-color: $color !important;
        //sass-lint:enable no-important
    }
}
