%accbox {
    @include flexbox(column, nowrap, flex-start, center)
    border-bottom: 1px solid $input-border;
    border-collapse: collapse;
    box-sizing: border-box;
    flex: 1 0 100%;
    padding-bottom: em(8);



    h4 {
        @include flexbox(row, nowrap)
        font-weight: bolder;

        i {
            &:first-child {
                transform: rotate(0);
                transform-origin: center;
                transition: transform .3s linear;
                }
            }
        }

    .box-content {
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        width: 100%;
        }

    &.open {
        i {
            &:first-child {
                transform: rotate(180deg);
            }
        }

        .box-content {
            height: auto;
        }
    }
}
