@mixin tooltips($direction: left) {
    @if $direction == 'left' {

        &:hover {
            background-color: $accent;
            border-radius: em(6);
            color: $white;
            height: auto;
            left: 0;
            margin: 0 em(7);
            overflow: auto;
            padding: em(16);
            position: absolute;
            white-space: normal;
            width: auto;
            z-index: 999;

            &::before {
                content: '';
                padding-left: em(0);
                padding-right: em(0);
            }
        }
    } @else {

        &:hover {
            background-color: $accent;
            border-radius: em(6);
            color: $white;
            height: auto;
            left: auto;
            margin: 0 em(7);
            overflow: auto;
            padding: em(16);
            position: absolute;
            right: 0;
            white-space: normal;
            width: auto;
            z-index: 999;

            &::before {
                content: '';
                padding-left: em(0);
                padding-right: em(0);
           }

        }
    }
}
