%table {
    @include flexbox(column, no-wrap, space-between);
    border: 1px solid $input-border;
    font-family: sans-serif;
    font-size: ms(0);
    position: relative;
    width: 99.8%;

    .head {
        @include flexbox;
        background-color: $accent;
        border-bottom: 1px solid $input-border;
        box-sizing: border-box;
        padding: em(5) 0;
        position: absolute;
        top: 0;
        width: 100%;

        > .col {
            @extend %item;
            border-right: 1px solid $white;
            color: $white;
            padding-left: em(10);
            text-align: left;

            &.xsmall {
                flex: 1 0 0;
            }

            &.small {
                flex: 2 0 0;
            }

            &.medium {
                flex: 3 0 0;
            }

            &.large {
                flex: 4 0 0;
            }

            &.xlarge {
                flex: 5 0 0;
            }

            &:first-child {
                margin-left: em(10);
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

    .listbody {
        display: block;
        height: em(33);
        overflow-y: auto;
        padding-top: em(16);
        width: 100%;

        &.line1 {
            height: em(33);
        }

        &.line2 {
            height: em(64);
        }

        &.line3 {
            height: em(96);
        }

        &.line4 {
            height: em(128);
        }

        &.line5 {
            height: em(160);
        }

        &.line6 {
            height: em(192);
        }

        &.line7 {
            height: em(224);
        }

        &.line8 {
            height: em(256);
        }

        &.line9 {
            height: em(288);
        }

        &.line10 {
            height: em(320);
        }

        .row {
            @include flexbox;
            box-sizing: border-box;
            padding-top: em(5);
            text-decoration: none;
            width: 100%;

            &.selected-row {
                background-color: $selection;
            }

            &:hover {
                background-color: lighten($selection, 10%);
                cursor: pointer;
            }

            > .col {
                @extend %item;

                &.xsmall {
                    flex: 1 0 0;
                }

                &.small {
                    flex: 2 0 0;
                }

                &.medium {
                    flex: 3 0 0;
                }

                &.large {
                    flex: 4 0 0;
                }

                &.xlarge {
                    flex: 5 0 0;
                }

                &.left {
                    justify-content: flex-start;
                    text-align: left;
                }

                &.right {
                    justify-content: flex-end;
                    text-align: right;
                }
            }
        }
    }
}

%item {
    @include flexbox(row, nowrap, center);
    flex: 1 0 0;
    padding: 0 em(10);
    text-align: center;
    word-break: break-word;

    &:first-child {
        margin-left: em(20);
    }

    &.left {
        justify-content: flex-start;
    }
}
