%infobox {
    background-color: lighten($progress-shadow, 15%);
    border: 1px solid $input-border;
    margin: 0 em(10);
    min-width: em(320);
    padding: 0;
    width: 100%;

    .header {
        background-color: $accent;
        box-sizing: border-box;
        color: $white;
        margin-bottom: em(10);
        padding: em(9) em(5);
        position: relative;
        text-shadow: 0 em(1) em(2) $bs19;
        text-transform: uppercase;
        width: 100%;

        &::before {
            border-bottom: 0 solid transparent;
            border-left: em(10) solid transparent;
            border-right: em(10) solid transparent;
            border-top: em(10) solid $accent;
            bottom: em(-8);
            content: '\A';
            left: em(8);
            position: absolute;

        }

    }

    p {
        color: $textcolor;
        line-height: 1.6;
        margin-left: em(8);

        &.title {
            font-weight: bold;
            text-transform: uppercase;
        }

        a {
            color: $accent;

            &:hover {
                color: lighten($accent, 10%);
                text-decoration: underline;
            }
        }
    }

    hr {
        border-top: 1px solid $input-border;
        width: 100%;
    }

    .labeltxt {
        color: $accent;
    }
}
