@function ms-calc($value, $base: $ms-base, $ratio: $ms-ratio) {

  // If pow exists use it.
  // It supports non-interger values!
  @if $ms-pow-exists {

    // The formula for figuring out modular scales is:
    // (r^v)*b
    @return pow($ratio, $value) * $base;
  } @else {
    @return ms-pow($ratio, $value) * $base;
  }
}
