@mixin button($color: $accent, $shape: round) {
    background: linear-gradient(adjust-hue($color, -10deg), $color);
    border: 0;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: ms(0);
    height: auto;
    margin: 0;
    padding: .5em 1em;
    text-align: center;
    text-shadow: 0 em(1) em(2) $bs12;
    white-space: 0;
    width: fit-content;

    @if $shape == 'round' {
        border-radius: 50em;
    } @else {
        border-radius: 0;
}

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: darken($color, 10%);
    }

    &:disabled {
        background-color: $disabled;
        color: darken($disabled, 15%);
    }
}
